.media-card {
  --media-meta-gap: 0.375rem;
  --play-button-opacity: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'image'
    'info';
}

.media-card:hover {
  cursor: pointer;
}

.media-card:hover,
.media-card:focus-within {
  --play-button-opacity: 1;
}

.media-card a {
  text-decoration: none;
  color: inherit;
}

.media-card:focus-within a {
  outline: none;
}

.media-card .info {
  grid-area: info;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
}

.media-card[data-trending] .info {
  isolation: isolate;
  grid-area: image;
  align-self: end;
  padding: var(--space-s-s);
}

@media screen and (min-width: 768px) {
  .media-card {
    --meta-gap: 0.5rem;
  }
}

.media-card .image-wrapper {
  grid-area: image;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  place-items: center;
  isolation: isolate;
}

.media-card:hover,
.media-card:focus-within {
  --media-image-brightness: 0.5;
}

.media-card[data-trending] .image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(var(--gray-100-hsl) / 0%),
    hsl(var(--gray-100-hsl) / 75%)
  );
  z-index: 2;
}

.media-card form {
  position: relative;
  grid-area: image;
  align-self: start;
  justify-self: end;
  padding: 0.5rem;
  z-index: 2;
}
