.avatar {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 1.5rem;
  object-fit: cover;
  outline: 1px solid var(--gray-400);
  outline-offset: -1px;
}

@media screen and (min-width: 768px) {
  .avatar {
    width: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .avatar {
    width: 2.5rem;
  }
}
