.play-button {
  --_play-button-opacity: var(--play-button-opacity, 1);
  display: flex;
  gap: var(--space-xs-xs);
  padding: 0.5rem;
  background-color: var(--gray-400-25pc);
  border-radius: 999px;
  padding-inline-end: var(--space-s-s);
  align-items: center;
  font-size: var(--font-size-300);
  opacity: var(--_play-button-opacity);
  transition: opacity 200ms linear;
  z-index: 3;
}

.play-button svg {
  width: var(--space-s-m);
}
