.masthead {
  padding: 1rem;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
}

.masthead > :nth-child(2) {
  flex-grow: 1;
}

.masthead .logo {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .masthead .logo {
    font-size: 2rem;
  }
}
