.masthead {
  padding: 1rem;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
}

.masthead > :nth-child(2) {
  flex-grow: 1;
}

.masthead .logo {
  width: 1.5rem;
}

@media screen and (min-width: 768px) {
  .masthead {
    padding: 1.5rem;
  }

  .masthead .logo {
    width: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .masthead {
    flex-direction: column;
    --nav-direction: column;
    --nav-justify: flex-start;
    gap: 4.5rem;
    border-radius: 20px;
    padding: 1.75rem;
  }
}
