.media-grid {
  --media-grid-min-width: 125px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--media-grid-min-width), 1fr)
  );
  row-gap: var(--space-s-m);
  column-gap: var(--space-s-l);
}

@media screen and (min-width: 768px) {
  .media-grid {
    --media-grid-min-width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .media-grid {
    --media-grid-min-width: 250px;
  }
}
