.media-reel {
  --_media-reel-padding-inline: var(--media-reel-padding-inline, 1rem);
  --_media-reel-gap: var(--media-reel-gap, 1rem);
  --_media-reel-padding-block-end: var(
    --media-reel-padding-block-end,
    var(--_media-reel-padding-inline)
  );
  display: flex;
  overflow-x: auto;
  gap: var(--_media-reel-gap);
  scroll-snap-type: x proximity;
  scroll-padding: var(--media-reel-padding-inline);
  padding-block-end: var(--_media-reel-padding-block-end);
}

.media-reel::after,
.media-reel::before {
  content: '';
  flex-basis: calc(var(--_media-reel-padding-inline) - var(--_media-reel-gap));
  flex-shrink: 0;
}

.media-reel > * {
  flex-shrink: 0;
}

.media-reel > li {
  scroll-snap-align: start;
  transition: opacity 0.5s linear;
  max-width: 90vw;
}

.media-reel > .faded {
  opacity: 0.3;
}
