.primary-navigation ul {
  --space: var(--space-m-l);
  --default-direction: row;
  --default-justify: center;
  display: flex;
  flex-direction: var(--nav-direction, var(--default-direction));
  justify-content: var(--nav-justify, var(--default-justify));
  align-items: center;
  gap: var(--space);
}

.primary-navigation li {
  display: grid;
  place-items: center;
}

.primary-navigation svg {
  height: 1.25rem;
  width: auto;
}

.primary-navigation a {
  color: var(--gray-300);
  display: block;
}

.primary-navigation a[aria-current] {
  color: var(--gray-400);
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
  outline: none;
  color: var(--red-300);
}

@media screen and (min-width: 768px) {
  .primary-navigation svg {
    width: 1.25rem;
  }
}
