.primary-navigation ul {
  --switcher-space: 1.5rem;
  --switcher-threshold: 12rem;
  justify-content: center;
  align-items: center;
}

.primary-navigation li {
  display: grid;
  place-items: center;
}

.primary-navigation svg {
  width: 1rem;
}

.primary-navigation a {
  color: var(--gray-300);
  display: block;
}

.primary-navigation a[aria-current] {
  color: var(--gray-400);
}

@media screen and (min-width: 768px) {
  .primary-navigation ul {
    --switcher-space: 2rem;
  }

  .primary-navigation svg {
    width: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .primary-navigation ul {
    --switcher-space: 2.5rem;
  }
}
