.browse {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.browse main {
  --center-container-gutter: 1rem;
  padding-block-start: 1.5rem;
  padding-block-end: 2.375rem;
  flex-grow: 1;
}

.browse header {
  display: flex;
}

.browse header > * {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .browse main {
    --center-container-gutter: 1.5rem;
    padding-block-start: 2rem;
    padding-block-end: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .browse {
    flex-direction: row;
  }

  .browse > header {
    padding-block: 2rem;
    padding-inline-start: 2rem;
  }

  .browse main {
    --center-container-gutter: 3.125rem;
    padding-block-start: 4rem;
    padding-block-end: 2.35rem;
    overflow-y: auto;
  }
}
